# OPERATORS IN PYTHON

# Arithmetic Operators (+,-,*,/)

In [1]:
5 + 7 # + operator with integer

12

In [2]:
'Mohsin '+'Kamal' # + operator with string data type

'Mohsin Kamal'

In [3]:
# + operator with list data type

list1=[1,2,3]
list2=[4,5,6]

list1 + list2
list3 = list1 + list2
print(list3)

lista = ['a','b','c']
listb = ['d','e','f']

lista + listb

[1, 2, 3, 4, 5, 6]

['a', 'b', 'c', 'd', 'e', 'f']

In [4]:
# - operator with integer

12 - 8

4

In [5]:
# * operator with integer

12 * 12

144

In [6]:
# * operator with string

"Mohsin Kamal " * 5

'Mohsin Kamal Mohsin Kamal Mohsin Kamal Mohsin Kamal Mohsin Kamal '

In [7]:
a= """
Mohsin Kamal
PGD Data Science & AI
""" * 3
print(a)

Mohsin Kamal
PGD Data Science & AI

Mohsin Kamal
PGD Data Science & AI

Mohsin Kamal
PGD Data Science & AI

In [8]:
# * operator with list and tuple, * op donot work with dictionary

list1 = [1,2,3] * 3
list2 = (1,2,3) * 3

print(list1)
print(list2)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [9]:
# / operator with int

7 / 3  #division with decimal points

2.3333333333333335

In [10]:
7 // 3  #division with ZERO decimal points

2

In [11]:
# % Modulo Operator returns the "remainder" of the division

print(5 % 2)
print(4 % 2)
print(5 % 3)

1
0
2

In [12]:
# ** Exponentiation

2 ** 3 # 2*2*2

8

# Assignment Operators

In [13]:
a = 12

print(a)

12

In [14]:

a = 12
a += 7 # a=a+7 or a=12+7. New value of a will be 19
print(a)

a += 1 # a=a+1 or a=19+1. New value of a will be 20
print(a)

19
20

In [15]:
b = 5
b -= 8 # b = b-8

print(b)

-3

In [16]:
c = 6
c *= 3 # c = c*3
print(c)

18

In [17]:
d = 13
d /= 2 # d =d/2
print(d)

6.5

In [18]:
e = 13
e //= 2 # e=e/2
print(e)

6

In [19]:
f = 2
f **= 3 #where f=f**3
print(f)

8

In [20]:
g = 5
g %= 2 #where g=g%2
print(g)

1

# Comparison Operators

In [21]:
2==4 # Equal to

False

In [22]:
2!=4 # Not equal to

True

In [23]:
2<4 # Less than

True

In [24]:
2 >4 # greater than

False

In [25]:
2 >= 4 # greater than or equal to

False

In [26]:
2 <= 4 # Less than or equal to

True

# Logical Operators

In [ ]:
user = input("User Name: ")
pw = input("Password: ")

user == 'Mohsin' and pw == '123' # for "and" both conditions must be true

In [1]:
user = input("User Name: ")
pw = input("Password: ")

user == 'Mohsin' or pw == '123' # for "or" and conditions may be true

User Name: Mohsin
Password: 145

True

In [3]:
not 2 < 3 # "not" operator reverse the result of a condition

False

# Identity Operators

In [12]:
x = 1
y = 20

x is y

False

In [13]:
x = 1
y = 20

x is not y

True

# Memebership Operators

In [17]:
names = ('ahsen','mohsin','hasan','sohaib')

'humdan' in names

False

In [18]:
names = ('ahsen','mohsin','hasan','sohaib')

'humdan' not in names

True

In [19]:
names = ('ahsen','mohsin','hasan','sohaib')

'hasan' in names

True

2.0